name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ci:
    strategy:
      matrix:
        # So that at least the app is built on all major OSes
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v4

      - name: Install libx11-dev for clipboard support library (required for tests)
        if: runner.os == 'Linux'
        run: sudo apt-get install -y libx11-dev

      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v5
        with:
          go-version-file: go.mod

      - name: Run tests
        run: go test -v -race -timeout=120s -parallel=10 ./...

      - name: Run linters
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v6
        with:
          version: latest

      - name: Build binary
        run: go build
